body {
    font-family: Helvetica, sans-serif;
    margin: 10px 0px 0px 0px;
    min-width: 550px;
}

iframe {
    display: block;
    border: 0;
    margin: auto;
}

#mxmain {
    width: 80%;
    margin: auto;
}

@media (max-width: 1024px) {
    #mxmain {
        width: 90%;
    }
    img, canvas {
        max-width: 100%;
    }
    iframe {
        max-width: 90vw;
        max-height: 50.625vw;
    }
}

img[onload] {
    opacity: 0;
    transition: opacity 2s;
}

#plc {
    margin: auto;
    width: 464px;
}

